body {
	margin: 0;
	background-color: #ffffff;
	background-image: url("../images/smallgraderjs.png");
}

h1 {
	position: relative;
	z-index: 10;
	text-align: center;
	margin-top: 50px;
}

body.main-gradient-light h1 {
	color: #000;
}

body.main-gradient-dark h1 {
	color: #fff;
}

.page-wrapper {
	position: absolute;;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#grader-elem {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	z-index: -1;
}

.content-wrapper {
    text-align: center;
    transition-property: color, fill;
    transition-duration: 0.5s;
    visibility: hidden;
    font-size: 16px;
}

.content-wrapper nav a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 15px;
    border: solid 1px;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.content-wrapper .title span {
    font-family: Graduate;
		font-size: 70px;
}

.grader-dark + .content-wrapper
{
	color:white;
}
